<div class="w-1/2 mx-auto " id="idmaterial">
    <p *ngIf="showElement" class="text-4xl mt-4  text-white">Поиск чертежа</p>
    <div *ngIf="!showElement" class=" mt-10"></div>
    <form #orderform="ngForm" id="orderform" name="orderform" (ngSubmit)="onSubmit()">
        <input value="Поиск"
            class="block  self-end text-white focus:ring-4 focus:outline-none font-medium  text-sm px-14 py-2 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
            type="submit" />
        <div class="mt-4 flex gap-4">
            <div class="basis-24">
                <label for="idSearchID" class="block mb-2 text-sm font-medium  text-white">id чертежа</label>
                <input required type="number" id="idSearchID" name="searchID" [(ngModel)]="idDrawing" ngModel
                    class="border  text-sm w-full block   py-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
            </div>
            <div class="">
                <label for="idSearchNumber" class="block mb-2 text-sm font-medium  text-white">Номер чертежа</label>
                <input required type="search" id="idSearchNumber" name="searchNumber" [(ngModel)]="number_item"
                    class="border  text-sm w-full block   py-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
            </div>
            <div class="">
                <label for="idSearchName" class="block mb-2 text-sm font-medium  text-white">Название чертежа</label>
                <input required type="search" id="idSearchName" name="searchName" [(ngModel)]="name_item"
                    class="border w-full text-sm  block  py-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
            </div>
            <div class="basis-24">
                <label for="idWeightMin" class="  block mb-2 text-sm font-medium  text-white">Масса min, кг</label>
                <input required type="number" id="idWeightMin" name="weightMin" [(ngModel)]="min"
                    class=" border  text-sm  block w-full py-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
            </div>
            <div class="basis-24">
                <label for="idWeightMax" class="  block mb-2 text-sm font-medium  text-white">Масса max, кг</label>
                <input required type="number" id="idWeightMax" name="weightMax" [(ngModel)]="max"
                    class=" border  text-sm  block w-full py-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
            </div>
        </div>
    </form>

    <div class="grid grid-cols-2">

        <div>
            <table class="w-full mt-6" id="tblMaterial ">
                <tbody class="text-sm  uppercase  bg-gray-700 text-gray-400 ">
                    <tr>

                        <td class="w-1/12 py-1 text-center">id</td>
                        <td class="w-4/12">Номер чертежа</td>
                        <td class="w-3/12">Название чертежа</td>
                        <td class="w-2/12 ">Масса, кг</td>
                        <td class="w-1/12 text-center">Инфо</td>

                    </tr>
                </tbody>
            </table>
            <table id="tblDrawings" class="w-full  text-sm text-left rtl:text-right  text-gray-300">
                <tbody id="tbodyDrawings">
                    <tr class="border-b bg-gray-800 border-gray-700  hover:bg-gray-600" *ngFor="let item of drawings">
                        <td class=" py-1 w-1/12 text-center ">
                            {{item.idDrawing}}
                        </td>
                        <td class=" py-1 w-4/12">
                            <a class="font-medium  text-blue-500 hover:underline cursor-pointer">
                                {{item.numberDrawings}}
                            </a>
                        </td>
                        <td class=" py-1 w-3/12">
                            {{item.name_item}}
                        </td>
                        <td class=" py-1 w-2/12">
                            {{item.weight}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="w-full" id="headSpecification">
            <tbody class="text-sm   bg-gray-700 text-gray-400 ">
                <tr>
                    <td class="w-0.5/12 text-center">id</td>
                    <td class="w-1.5/12 pl-3">Номер</td>
                    <td class="w-1.5/12 ">Наименование</td>
                    <td class="w-1/12 text-center">Масса,кг</td>
                    <td class="w-1.5/12 ">Заготовка</td>
                    <td class="w-0.5/12 text-center">L,мм</td>
                    <td class="w-0.5/12 text-center">D(B),мм</td>
                    <td class="w-0.5/12 text-center">H,мм</td>
                    <td class="w-0.5/12 text-center">Г/плзм.</td>
                </tr>
            </tbody>
        </table>
        <table *ngIf="drawings.length>0" id="tblSpecification"
            class="w-full  text-sm text-left rtl:text-right  text-gray-300">
            <tbody id="tbodySpecification">
                <tr class="border-b bg-gray-800 border-gray-700  hover:bg-gray-600"
                    *ngFor="let item of drawings; let i = index">


                    <td class=" py-1 w-0.5/12 text-center ">
                        {{ item.idDrawing }}
                    </td>
                    <td class=" py-1 w-1.5/12 ">
                        {{item.numberDrawings}}
                    </td>
                    <td class=" py-1 w-1.5/12" id="name">
                        {{item.name_item}}
                    </td>
                    <td *ngIf="item.typeBlank!==1" class=" py-1 w-1/12 text-center" id="weight1">
                        {{item.weight | number:"1.0-3"}}
                    </td>

                    <td *ngIf="item.typeBlank===1 && item.uselength" class=" py-1 w-1/12 text-center" id="rol1">
                        {{item.len!*item.weight!/1000 | number:"1.0-3"}}
                    </td>
                    <td *ngIf="item.typeBlank===1 && item.uselength" class=" py-1 w-1/12 text-center" id="rol2">
                        {{(item.h?item.dw!*item.h!:item.dw!*item.dw!)/1000000*item.weight! | number:"1.0-3"}}
                    </td>
                    <td class=" py-1 w-1.5/12 " id="nameBlank">
                        {{item.name_item}}
                    </td>
                    <td class=" py-1 w-0.5/12 text-center " id="len">
                        {{ item.len }}
                    </td>
                    <td class=" py-1 w-0.5/12 text-center " id="dw">
                        {{ item.dw }}
                    </td>
                    <td class=" py-1 w-0.5/12 text-center " id="h">
                        {{ item.h }}
                    </td>
                    <td class=" py-1 w-0.5/12 text-center" id="percentMaterial">
                        {{item.percent}}
                    </td>

                    <td class=" py-1 w-0.5/12 text-center" id="value">
                        {{item.value | number:"1.0-3"}}
                    </td>
                    <td *ngIf="item.typeBlank===1 || item.typeBlank===2|| item.typeBlank===4"
                        class=" py-1 w-0.5/12 text-center" id="typepos!3">
                    </td>

                    <td class=" py-1 w-0.5/12 text-center" id="plasmaTd">
                        <input
                            *ngIf="(item.typeBlank===1 && !item.uselength ) || (item.typeBlank===5 && !item.uselength)"
                            [ngModel]="item.plasma" [name]="i+'plasma'" [id]="i+'plasma'" type="checkbox" disabled
                            class="w-4 h-4 text-blue-600   focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


</div>