<div class="w-1/2 mx-auto  " id="idmaterial">
    <p id="idclick" class="text-4xl  text-white">База проката</p>
    <div class="flex flex-row justify-between  mt-6">
        <div class="flex flex-row gap-4 ">
            <div>
                <select id="selectRolled"
                    class="border   text-sm  block w-full p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                    <option  *ngFor="let item of typeAndSteel?.rolled_type" value="{{item.idrolled_type}}">
                        {{item.name_typerolled}} </option>
                   
                </select>
            </div>
            <div>
                <select id="selectSteel"
                    class="border   text-sm r  block w-full p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                    <option  *ngFor="let item of typeAndSteel?.steels" value="{{item.idsteel}}">
                        {{item.steel}} </option>
                   
                </select>
            </div>
            <form >
                <label for="default-search" class="mb-2 text-sm font-medium  sr-only text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="searchMaterial"
                        class="block w-80 p-2 ps-10 text-sm  border   bg-gray-50  dark:bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Поиск проката" required>
                    <button type="submit"
                        class="text-white absolute end-1 bottom-1.5 h-7   focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-4  bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Найти</button>
                </div>
            </form>
        </div>
        <div class="flex gap-4  ">
            <button type="button" (click)="addRoll()"
                class="px-3  py-2 text-xs font-medium text-center text-white  focus:ring-4 focus:outline-none  bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Добавить
                позицию
            </button>
            <button type="button"
                class="px-3  py-2 text-xs font-medium text-center text-white  focus:ring-4 focus:outline-none  bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Категории
                
            </button>
            <button type="button"
                class="px-3  py-2 text-xs font-medium text-center text-white  focus:ring-4 focus:outline-none  bg-red-600 hover:bg-red-700 focus:ring-blue-800">Удалить
                узел</button>
        </div>
    </div>
    <div class="mt-4  max-h-181 relative overflow-x-auto shadow-md ">
        <div class=" flex flex-row  text-xs  uppercase  bg-gray-700 text-gray-300 py-2">
            <div class="basis-0.5/12  ">
                <svg class="  mx-auto w-6 h-3  text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5.917 5.724 10.5 15 1.5" />
                </svg>
            </div>
            <p class="basis-1/12  text-center">id</p>
            <p class="basis-5/12  ml-0.5 ">Наименование</p>
            <p class="basis-1/12  text-center">Диаметр</p>
            <p class="basis-1/12  ml-0.5 ">Толщина</p>
            <p class="basis-1/12  ">Материал</p>
            <p class="basis-1/12  text-center">Масса пог., кг</p>
            <p class="basis-0.5/12  text-center"></p>
        </div>
        <!--  Таблица -->
        <table id="tblUnits" class="w-full  text-sm text-left rtl:text-right  text-gray-300">
            <tbody id="tbodyUnits">
                <tr class="border-b bg-gray-800 border-gray-700  hover:bg-gray-600" *ngFor="let rolled of rolleds">
                    <ng-template [ngTemplateOutlet]="loadTemplate(rolled)" [ngTemplateOutletContext]="{ $implicit: rolled}">
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #readOnlyTemplate let-rolled>
    <td class="py-1 w-0.5/12">
        <div class="flex justify-center">
            <input id="checkbox-table-search-1" type="checkbox"
                class="w-4 h-4 text-blue-600   rounded  focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
        </div>
    </td>
    <td class=" py-1 w-1/12 text-center ">
        {{rolled.id_rolled}}
    </td>
    <td class=" py-1 w-5/12">
        {{rolled.name_rolled}}
    </td>
    <td class=" py-1 w-1/12">
        {{rolled.d}}
    </td>
    <td class=" py-1 w-1/12 text-center">
        {{rolled.t}}
    </td>
    <td class=" py-1 w-1/12 text-center">
        {{rolled.steel}}
    </td>
    <td class=" py-1 w-1/12 text-center">
        {{rolled.weight}}
    </td>
    <td class=" py-1 w-0,5/12 ">
        <button href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Изм</button>
    </td>
</ng-template>

<ng-template #editTemplate let-unit>
    <td class="py-1 w-0.5/12">
        <div class="flex justify-center">
            <input id="checkbox-table-search-1" type="checkbox"
                class="w-4 h-4 text-blue-600   rounded  focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
        </div>
    </td>
    <td class="  w-1/12 text-center ">
        {{unit.unit}}
    </td>
    <td class="  w-5/12">
        <input class="w-full  text-black  bg-gray-50 hover:bg-gray-200" type="text" autocomplete="off" />
    </td>
    <td class="  w-1/12 text-center">
        <input class="w-full  text-center text-black  bg-gray-50 hover:bg-gray-200" type="text" autocomplete="off" />
    </td>
    <td class=" py-1 w-1/12 text-center">
        <input class="w-full  text-center text-black  bg-gray-50 hover:bg-gray-200" type="text" autocomplete="off" />
    </td>
    <td class=" py-1 w-1/12 text-center">
        {{unit.finished}}
    </td>
    <td class="  w-0,5/12 ">
        <button href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Сохранить</button>
    </td>

</ng-template>