<nav class=" bg-gray-900 border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap items-center  mx-auto p-4" id="mainMenu">
    <button data-collapse-toggle="navbar-multi-level" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm  rounded-lg md:hidden  focus:outline-none focus:ring-2  text-gray-400 hover:bg-gray-700 focus:ring-gray-600"
      aria-controls="navbar-multi-level" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>

    <div class="hidden w-full md:block md:w-auto" id="navbar-multi-level">

      <ul
        class="flex flex-col mx-10 font-medium p-4 md:p-0 mt-4 border  rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0  bg-gray-800 md:bg-gray-900 border-gray-700">
        <li>
          <a href="https://www.oskt.com.ua" target="_blank" class="flex items-center">
            <img src="assets/osk3.png" class=" h-10 mr-3" alt="Flowbite Logo" />
          </a>
        </li>
        <li>
          <a routerLink=""
            class="block py-2 pl-3 pr-4 text-white  rounded   md:p-0 md:text-blue-500 bg-blue-600 md:bg-transparent"
            aria-current="page">Главная</a>
        </li>
        <li>
          <button id="bntDesigning" aria-expanded="true" data-dropdown-toggle="dropdownDesigning"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4   border-b    md:border-0  md:p-0 md:w-auto text-white md:hover:text-blue-500 focus:text-white border-gray-700 hover:bg-gray-700 md:hover:bg-transparent">Проектирование
            <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg></button>
          <!-- dropdownNavbar -->
          <div id="dropdownDesigning" #dropDown
            class="z-10 hidden font-normal  divide-y  rounded-lg shadow w-52 bg-gray-700 divide-gray-600">
            <ul class="py-2 text-sm  text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a routerLink="instruments/newOrder"
                  class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Создать заказ</a>
              </li>

              <li>
                <a routerLink="instruments/formOrder" id="linkFormOder"
                  class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Формировать состав</a>
              </li>
              <li>
                <a routerLink="instruments/drawingsDatabase" id="linkFormOder"
                  class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Создать чертеж</a>
              </li>
              <li aria-labelledby="newOrderLink">
                <button id="btnNewOrder" data-dropdown-toggle="doubleDesigning" data-dropdown-placement="right-start"
                  type="button"
                  class="flex items-center justify-between w-full px-4 py-2  hover:bg-gray-600 hover:text-white">Дополнительно
                  <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
                  </svg></button>
                <!--NewOrder -->
                <div id="doubleDesigning"
                  class="z-10 hidden  divide-y divide-gray-100 rounded-lg shadow w-44 bg-gray-700">
                  <ul class="py-2 text-sm  text-gray-200" aria-labelledby="btnNewOrder">
                  </ul>
                </div>
              </li>
            </ul>
            <div class="py-1">
              <a class="block px-4 py-2 text-sm  hover:bg-gray-600 text-gray-400 hover:text-white">Sign
                out</a>
            </div>
          </div>
        </li>
        <li>
          <button id="btnDropdownView" aria-expanded="true" data-dropdown-toggle="dropdownView"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4   border-b    md:border-0  md:p-0 md:w-auto text-white md:hover:text-blue-500 focus:text-white border-gray-700 hover:bg-gray-700 md:hover:bg-transparent">Просмотр
            <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg></button>
          <!-- dropdownNavbar -->
          <div id="dropdownView" #dropDown
            class="z-10 hidden font-normal  divide-y  rounded-lg shadow w-52 bg-gray-700 divide-gray-600">
            <ul class="py-2 text-sm  text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a routerLink="views/drawings" class="block px-4 py-2  hover:bg-gray-600 hover:text-white">Чертежей</a>
              </li>

              <li aria-labelledby="libraryLink1">
                <button id="btnLibrary" data-dropdown-toggle="viewMaterials" data-dropdown-placement="right-start"
                  type="button"
                  class="flex items-center justify-between w-full px-4 py-2  hover:bg-gray-600 hover:text-white">Материалов
                  <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
                  </svg></button>
                <!--library -->
                <div id="viewMaterials" class="z-10 hidden  divide-y divide-gray-100 rounded-lg shadow  bg-gray-700">
                  <ul class="py-2 text-sm  text-gray-200" aria-labelledby="btnLibrary">
                    <li>
                      <a routerLink="materials/rolled"
                        class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Прокат</a>
                    </li>
                    <li>
                      <a routerLink="materials/hardware"
                        class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Метизы</a>
                    </li>
                    <li>
                      <a routerLink="materials/others"
                        class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Материалы</a>
                    </li>
                    <li>
                      <a routerLink="materials/purchased"
                        class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Покупные изделия</a>
                    </li>
                    <li>
                      <a routerLink="materials/types"
                        class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Категории
                        материалов</a>
                    </li>


                  </ul>
                </div>
              </li>
             
            </ul>
            <div class="py-1">
              <a class="block px-4 py-2 text-sm  hover:bg-gray-600 text-gray-400 hover:text-white">Sign
                out</a>
            </div>
          </div>

        </li>

        <li>
          <a href="#"
            class="block py-2 pl-3 pr-4  rounded   md:border-0  md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">План</a>
        </li>
        <li>
          <button id="dropdownNavbarLink" aria-expanded="true" data-dropdown-toggle="dropdownPlan"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4   border-b    md:border-0  md:p-0 md:w-auto text-white md:hover:text-blue-500 focus:text-white border-gray-700 hover:bg-gray-700 md:hover:bg-transparent">Инструменты
            <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg></button>
          <!-- dropdownNavbar -->
          <div id="dropdownPlan" #dropDown
            class="z-10 hidden font-normal  divide-y  rounded-lg shadow w-52 bg-gray-700 divide-gray-600">
            <ul class="py-2 text-sm  text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a class="block px-4 py-2  hover:bg-gray-600 hover:text-white">Пусто</a>
              </li>
             
              <li aria-labelledby="libraryLink">
                <button id="btnLibrary" data-dropdown-toggle="idLibrary" data-dropdown-placement="right-start"
                  type="button"
                  class="flex items-center justify-between w-full px-4 py-2  hover:bg-gray-600 hover:text-white">База
                  материалов
                  <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
                  </svg></button>
                <!--library -->
                <div id="idLibrary" class="z-10 hidden  divide-y divide-gray-100 rounded-lg shadow  bg-gray-700">
                  <ul class="py-2 text-sm  text-gray-200" aria-labelledby="btnLibrary">
                    <li>
                      <a routerLink="materials/rolled"
                        class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Прокат</a>
                    </li>
                    <li>
                      <a routerLink="materials/hardware"
                        class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Метизы</a>
                    </li>
                    <li>
                      <a routerLink="materials/others"
                        class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Материалы</a>
                    </li>
                    <li>
                      <a routerLink="materials/purchased"
                        class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Покупные изделия</a>
                    </li>
                    <li>
                      <a routerLink="materials/types"
                        class="block px-4 py-2  hover:bg-gray-600 text-gray-400 hover:text-white">Категории
                        материалов</a>
                    </li>


                  </ul>
                </div>
              </li>
              <li>
                <a class="block px-4 py-2  hover:bg-gray-600 hover:text-white">Пусто</a>
              </li>
            </ul>
            <div class="py-1">
              <a class="block px-4 py-2 text-sm  hover:bg-gray-600 text-gray-400 hover:text-white">Sign
                out</a>
            </div>
          </div>
        </li>

        <li>
          <a href="#"
            class="block py-2 pl-3 pr-4  rounded   md:border-0  md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Печать</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>