<div class="w-2/3 mx-auto  " id="idmaterial">
    <p *ngIf="showAddmaterial===true" class="text-4xl  text-white">Материалы</p>
    <div class="flex flex-row justify-between mt-6">
        <div class="flex flex-row gap-2  border-gray-600 border-2 p-1">
            <div>
                <select id="selectMaterials" (change)="firstPage()"
                    class="border w-32 text-sm  block px-1  py-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                    <option value=-1>Все материалы</option>
                    <option *ngFor="let item of materialType" value={{item.id_type}}>
                        {{item.name_type}} </option>
                </select>
            </div>

            <!-- Поиск Поиск Поиск Поиск -->
            <form>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4  text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input id="searchMaterial" autocomplete="off"
                        class="block w-70 p-2 ps-10 text-sm  border    bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Поиск материала" required>
                    <button (click)="findMaterials()"
                        class="text-white absolute end-1 bottom-1.5 h-7   focus:ring-4 focus:outline-none  font-medium  text-sm px-2  bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Найти</button>
                </div>
            </form>
        </div>

        <!-- Добавить Добавить Добавить Добавить Добавить Добавить -->

        <add-others *ngIf="showAddmaterial===true" (save_Material)="saveNewMaterial()" (btn_Del)="btnDel()">
        </add-others>


    </div>
    <div class="mt-4  max-h-181 relative overflow-x-auto shadow-md ">
        <table id="tblOther" class="w-full">
            <tbody class="text-sm  uppercase  bg-gray-700 text-gray-400 ">
                <tr>
                    <td class="w-0.5/12  py-2">
                        <svg class="  mx-auto w-6 h-3  text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5.917 5.724 10.5 15 1.5" />
                        </svg>
                    </td>
                    <td *ngIf="showAddmaterial===true" class="w-0.5/12 text-center">id</td>
                    <td *ngIf="showAddmaterial===false" class="w-1/12 text-center">id</td>
                    <td *ngIf="showAddmaterial===true" class="w-6/12">Наименование</td>
                    <td *ngIf="showAddmaterial===false" class="w-7/12">Наименование</td>
                    <td class="w-0,5/12 text-center"> X1</td>
                    <td class="w-0,5/12 text-center">X2</td>
                    <td class="w-1/12">Расчет</td>
                    <td class="w-0.5/12 text-center">Коэфф.</td>
                    <td class="w-1/12 text-center ">Ед.изм.</td>
                    <td *ngIf="showAddmaterial===true" class="w-1.5/12 text-center">Действие</td>
                </tr>
            </tbody>
        </table>

        <!--  Таблица --><!--  Таблица --><!--  Таблица --><!--  Таблица --><!--  Таблица --><!--  Таблица --><!--  Таблица -->
        <table id="tblMaterials" class="w-full  text-sm text-left rtl:text-right  text-gray-300">
            <tbody id="tbodyUnits">
                <tr class="border-b bg-gray-800 border-gray-700  hover:bg-gray-600" *ngFor="let item of collections">
                    <ng-template [ngTemplateOutlet]="loadTemplate(item)" [ngTemplateOutletContext]="{ $implicit: item}">
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex justify-end  items-end mt-4">
        <p class="mr-4 text-2xl  text-white">Страница {{page}}</p>
        <button (click)="firstPage()"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight   border border-e-0  bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">Начало</button>
        <button (click)="previousPage()"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight   border border-e-0  bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
            </svg>
        </button>
        <button (click)="nextPage()"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight   border border-e-0  bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
        </button>

    </div>

</div>

<ng-template #readOnlyTemplate let-item>
    <td class="py-1 w-0.5/12">
        <div class="flex justify-center">
            <input type="checkbox" (change)="tblNavigator?.boxChange($event)" id={{item.id_item}}
                class="w-4 h-4 text-blue-600   rounded  focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
        </div>
    </td>
    <td *ngIf="showAddmaterial===true" class=" py-1 w-0.5/12 text-center ">
        {{item.id_item}}
    </td>
    <td *ngIf="showAddmaterial===false" class=" py-1 w-1/12 text-center ">
        {{item.id_item}}
    </td>
    <td *ngIf="showAddmaterial===true" class=" py-1 w-6/12">
        {{item.name_item}}
    </td>
    <td *ngIf="showAddmaterial===false" class=" py-1 w-7/12">
        {{item.name_item}}
    </td>
    <td class=" py-1 w-0.5/12 text-center">
        {{item.x1}}
    </td>
    <td class=" py-1 w-0.5/12 text-center">
        {{item.x2}}
    </td>
    <td *ngIf="item.specific_units===0" class=" py-1 w-1/1 ">
        % от m, кг
    </td>
    <td *ngIf="item.specific_units===1" class=" py-1 w-1/12">
        % от S, м.кв
    </td>
    <td *ngIf="item.specific_units===2" class=" py-1 w-1/12">
        Ввод данных
    </td>
    <td class=" py-1 w-0.5/12 text-center">
        {{item.percent}}
    </td>
    <td *ngIf="item.units===0" class=" py-1 w-1/12r text-center">
        m, кг
    </td>
    <td *ngIf="item.units===1" class=" py-1 w-1/12 text-center">
        S, м.кв
    </td>
    <td *ngIf="item.units===2" class=" py-1 w-1/12 text-center">
        L, мм
    </td>
    <td *ngIf="item.units===3" class=" py-1 w-1/12 text-center">
        шт.
    </td>
    <td *ngIf="item.units===4" class=" py-1 w-1/12 text-center">
        V, л
    </td>
    <td *ngIf="item.units===5" class=" py-1 w-1/12 text-center">
        V, м.куб
    </td>
    <td *ngIf="showAddmaterial===true" class=" py-1 w-1.5/12 text-center">
        <button class="font-medium  hover:text-red-500  text-blue-500 hover:underline"
            title="Изменение повлечет изменения везде, где эта позиция используется!"
            (click)="tableEditRow($event)">Изменить</button>
    </td>
</ng-template>

<ng-template #editTemplate let-item>
    <td class="py-1 w-0.5/12">
        <div class="flex justify-center">
            <input type="checkbox" (change)="tblNavigator?.boxChange($event)"
                class="w-4 h-4 text-blue-600   rounded  focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
        </div>
    </td>
    <td class=" py-1 w-0.5/12 text-center ">
        {{item.id_item}}
    </td>
    <td class="  w-5/12">
        <input class="border   block w-full  text-black  bg-gray-50" type="text" autocomplete="off"
            [(ngModel)]="item.name_item" />
    </td>
    <td class="  w-0.5/12">
        <input class="border   block w-full  text-black  bg-gray-50" type="text" autocomplete="off"
            [(ngModel)]="item.x1" />
    </td>
    <td class="  w-0.5/12">
        <input class="border   block w-full   text-black  bg-gray-50" type="text" autocomplete="off"
            [(ngModel)]="item.x2" />
    </td>

    <td class=" w-1/12 text-center">
        <select id="selectSpesificUnits" (change)="specificUnitsChange($event.target)"
            class="border p-0.5  text-sm   block   bg-gray-50 border-gray-900 placeholder-gray-400 text-black focus:ring-blue-500 focus:border-blue-500">
            <option value=0>% от m, кг</option>
            <option value=1>% от S, м.кв</option>
            <option value=2>Ввод данных</option>
        </select>
    </td>
    <td class=" w-0.5/12">
        <input class="border   block w-full  text-black  bg-gray-50" type="text" autocomplete="off"
            [(ngModel)]="item.percent" />
    </td>
    <td class="  w-1/12 text-center">
        <select id="selectUnits" (change)="unitsChange($event.target)"
            class="border p-0.5  text-sm   block   bg-gray-50 border-gray-900 placeholder-gray-400 text-black focus:ring-blue-500 focus:border-blue-500">
            <option value=0>m, кг</option>
            <option value=1>S, м.кв</option>
            <option value=2>L, мм</option>
            <option value=3>шт.</option>
            <option value=4>V, л</option>
            <option value=5>V, м.куб</option>
        </select>
    </td>

    <td class=" w-1.5/12 text-center">
        <div class="flex justify-center gap-2">
            <button class="font-medium  text-blue-500 hover:underline"
                (click)="updateMaterial($event)">Сохранить</button>
            <button class="font-medium  text-blue-500 hover:underline" (click)="escape($event.target)">Отменить</button>
        </div>

    </td>
</ng-template>