<div class="flex gap-2 border-gray-600 border-spacing-2 border-2 p-1">
    <input type="number" id="x1" placeholder="X1"
        class="block w-16 py-2 px-1  border sm:text-sm  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
    <input type="number" id="x2" placeholder="X2"
        class="block w-16 py-2 px-1  border sm:text-sm  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
   
    <input id="weight" placeholder="m, кг" required="\d{1,4}\.\d{1,3}"
        class="block w-20 py-2 px-1  border sm:text-sm  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
       <!--  <div class="flex  flex-col bg-gray-700  w-14">
            <div class="flex items-center ">
                <input id="lradio" checked type="radio" value="" name="lradio" (click)="radioChange('lradio')"
                    class="w-4 h-4 text-blue-600    focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                <label for="disabled-radio-1" class="ms-2 text-sm font-medium  text-white">L</label>
            </div>
            <div class="flex items-center ">
                <input id="sradio" type="radio" value="" name="sradio" (click)="radioChange('sradio')"
                    class="w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                <label for="disabled-radio-1" class="ms-2 text-sm font-medium  text-white">S</label>
            </div>
        </div> -->
        <div class="relative">
        <input id="newMaterial" autocomplete="off"
            class="block w-80 p-2  text-sm  border   bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            placeholder="Новый прокат">
        <button (click)="saveNewMaterial()"
            class="text-white absolute end-1 bottom-1.5 h-7   focus:ring-4 focus:outline-none  font-medium  text-sm px-2  bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Добавить</button>
    </div>
    <button type="button" (click)="btnDel()"
        class="px-2  py-2 text-xs font-medium text-center text-white  focus:ring-4 focus:outline-none  bg-red-600 hover:bg-red-700 focus:ring-blue-800"
        title="Удаление повлечет удаление данной позиции везде, где она используется!">Удалить
        прокат
    </button>
</div>