<form class="w-1/2 mx-auto " #orderform="ngForm" id="orderform" autocomplete="off" (change)="formChange(orderform)"
    novalidate>
   
        <div class="mt-10 flex flex-row justify-between">
            <p class="text-4xl  text-white">Формирование заказа</p>
            <div class="flex flex-row  gap-x-3 justify-end">
                <div>
                    <p class=" block mb-2 text-sm font-medium  text-white">Аналог</p>
                    <button type="button" (click)="getAnalogOrder()"
                        class="px-3 py-2 text-sm font-medium text-center text-white   ocus:ring-4 focus:outline-none  bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Выбрать</button>
                </div>
                <div>
                    <label for="cust" class="block mb-2 text-sm font-medium  text-blue-500">Заказчик</label>
                    <select id="cust" name="idcust"  [ngModel]="dataOrder?.idcustomer"
                        class="  border  text-sm    block w-full p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                        <option *ngFor="let item of customers" value="{{item.idcustomer}}">
                            {{item.customer}}</option>
                    </select>
                </div>
                <div>
                    <label for="cat" class="block mb-2 text-sm font-medium  text-white">Категория</label>
                    <select id="cat" name="idcat"  [ngModel]="dataOrder?.idcategory"
                        class=" border  text-sm    block w-full p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                        <option *ngFor="let item of categories" value="{{item.idcategory}}">
                            {{item.category}}</option>
                    </select>
                </div>
                <div>
                    <label for="plane" class="block mb-2 text-sm font-medium  text-white">Отгрузка</label>
                    <input type="date" id="plane" name="shipment" #htmlShipment [ngModel]="dataOrder?.shipment"
                        class=" border text-sm    block w-full ps-10 p-2  bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                </div>
            </div>
        </div>
        <div class=" flex flex-row gap-4 mt-5">
            <div class="basis-1/12">
                <label for="order_machine" class="block mb-2 text-sm font-medium  text-white">Заказ
                    {{dataOrder?.order_machine}}
                </label>
                <input autofocus id="order_machine" name="order_machine" [ngModel]="dataOrder?.order_machine"
                    placeholder="№ заказа" #htmlOrder="ngModel" required maxlength="7"
                    (keydown)="getNewOrder($event, htmlOrder.value)"
                    class="  border  text-lg   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
            </div>
            <div class="basis-3/12">
                <label for="id_machine" class=" block mb-2 text-sm font-medium  text-white">№ изделия
                </label>
                <input autofocus id="id_machine" name="number_machine" [ngModel]="dataOrder?.number_machine"
                    #templateNumber="ngModel" required maxlength="25" required
                    class="  border text-lg   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
            </div>
            <div class="basis-7/12">
                <label for="name_machine" class="block mb-2 text-sm font-medium  text-white">Название
                </label>
                <input type="text" id="name_machine" name="name_machine" [ngModel]="dataOrder?.name_machine"
                    #templateName="ngModel" required="" maxlength="80" required=""
                    class=" border  text-lg   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
            </div>
            <div class="basis-1/12">
                <label for="id_weight" class=" block mb-2 text-sm font-medium  text-white">Масса, кг
                </label>
                <input autofocus id="id_weight" name="weight" [ngModel]="dataOrder?.weight"
                    #templateWeight="ngModel"  maxlength="9"
                    class="  border text-lg   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
            </div>
        </div>
        <label for="message" class="block mb-1 mt-1 text-sm font-medium  text-white">Описание</label>
        <textarea id="message" name="description" [ngModel]="dataOrder?.description" rows="3"
            class="block p-0.5 mt-2 w-full text-sm   border   bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            placeholder="" [maxLength]="500"></textarea>
    

    <div class="grid grid-cols-2 gap-3 ">
        <div class="grid gap-3  md:grid-cols-12">
            <div class="col-span-10">
                <label for="char0" class="block mb-3 text-sm font-medium  text-white">Характеристика</label>
                <input type="text" id="char0" name="char0" [ngModel]="dataProperties[0].property"
                    class="text-right  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                    placeholder="1" maxlength="60">
            </div>
            <div class="col-span-2">
                <label for="val0" class="block mb-3 text-sm font-medium  text-white">Значение</label>
                <input type="text" id="val0" name="val0" [ngModel]="dataProperties[0].val"
                    class="  border ext-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                    placeholder="" maxlength="10">
            </div>
            <input type="text" id="char1" name="char1" [ngModel]="dataProperties[1].property"
                class="col-span-10 text-right   border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="2" maxlength="60">
            <input type="text" id="val1" name="val1" [ngModel]="dataProperties[1].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
            <input type="text" id="char2" name="char2" [ngModel]="dataProperties[2].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="3" maxlength="60">
            <input type="text" id="val2" name="val2" [ngModel]="dataProperties[2].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
            <input type="text" id="char3" name="char3" [ngModel]="dataProperties[3].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="4" maxlength="60">
            <input type="text" id="val3" name="val3" [ngModel]="dataProperties[3].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
            <input type="text" id="char4" name="char4" [ngModel]="dataProperties[4].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="5" maxlength="60">
            <input type="text" id="val4" name="val4" [ngModel]="dataProperties[4].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
            <input type="text" id="char5" name="char5" [ngModel]="dataProperties[5].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="6" maxlength="60">
            <input type="text" id="val5" name="val5" [ngModel]="dataProperties[5].val"
                class="col-span-2  border text-sm  block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
            <input type="text" id="char6" name="char6" [ngModel]="dataProperties[6].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="7" maxlength="60">
            <input type="text" id="val6" name="val6" [ngModel]="dataProperties[6].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
        </div>

        <div class="grid gap-3  md:grid-cols-12">
            <div class="col-span-10">
                <label for="char7" class="block mb-3 text-sm font-medium  text-white">Характеристика</label>
                <input type="text" id="char7" name="char7" [ngModel]="dataProperties[7].property"
                    class="text-right  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                    placeholder="8" maxlength="60">
            </div>
            <div class="col-span-2">
                <label for="val7" class="block mb-3 text-sm font-medium  text-white">Значение</label>
                <input type="text" id="val7" name="val7" [ngModel]="dataProperties[7].val"
                    class=" border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                    placeholder="" maxlength="10">
            </div>
            <input type="text" id="char8" name="char8" [ngModel]="dataProperties[8].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="9" maxlength="60">
            <input type="text" id="val8" name="val8" [ngModel]="dataProperties[8].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
            <input type="text" id="char9" name="char9" [ngModel]="dataProperties[9].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="10" maxlength="60">
            <input type="text" id="val9" name="val9" [ngModel]="dataProperties[9].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
            <input type="text" id="char10" name="char10" [ngModel]="dataProperties[10].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="11" maxlength="60">
            <input type="text" id="val10" name="val10" [ngModel]="dataProperties[10].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
            <input type="text" id="char11" name="char11" [ngModel]="dataProperties[11].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="12" maxlength="60">
            <input type="text" id="val11" name="val11" [ngModel]="dataProperties[11].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
            <input type="text" id="char12" name="char12" [ngModel]="dataProperties[12].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="13" maxlength="60">
            <input type="text" id="val12" name="val12" [ngModel]="dataProperties[12].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
            <input type="text" id="char13" name="char13" [ngModel]="dataProperties[13].property"
                class="text-right col-span-10  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="14" maxlength="60">
            <input type="text" id="val13" name="val13" [ngModel]="dataProperties[13].val"
                class="col-span-2  border  text-sm   block w-full p-0.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="" maxlength="10">
        </div>
    </div>

<div class="flex justify-end gap-5"> 
    <button *ngIf="dataOrder?.order_machine"  type="button" (click)="save('btnSave')" 
    class=" mt-8 text-white   focus:ring-4 focus:outline-none  font-medium  text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Сохранить</button>
    <button *ngIf="!dataOrder?.order_machine" type="button" (click)="save('btnCreate')" 
    class="  mt-8 text-white   focus:ring-4 focus:outline-none  font-medium  text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Создать</button>
    <button  type="button" (click)="clean()" 
    class=" mt-8 text-white   focus:ring-4 focus:outline-none  font-medium  text-sm w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Очистить</button>
    
</div>   

  

</form>