<div class="w-1/2 mx-auto  " id="idmaterial">
    <p  *ngIf="showAddHardware===true" id="idclick" class="text-4xl  text-white">База метизов</p>
    <div class="flex flex-row justify-between mt-6">
        <div class="flex flex-row gap-2  border-gray-600 border-2 p-1">
            <div>
                <select id="selectHardware" (change)="firstPage()"
                    class="border   text-sm  block  p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                    <option *ngFor="let item of hardwareType" value="{{item.idhardware_type}}">
                        {{item.name_type}} </option>
                </select>
            </div>
            <div>
                <select id="selectSteel" (change)="firstPage()"
                    class="border   text-sm   block w-full p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                    <option *ngFor="let item of steels" value="{{item.idsteel}}">
                        {{item.steel}} </option>
                </select>
            </div>
            <!-- Поиск Поиск Поиск Поиск -->
            <form>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4  text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input id="searchMaterial" autocomplete="off"
                        class="block w-70 p-2 ps-10 text-sm  border    bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Поиск" required>
                    <button (click)="findHardwares()"
                        class="text-white absolute end-1 bottom-1.5 h-7   focus:ring-4 focus:outline-none  font-medium  text-sm px-2  bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Найти</button>
                </div>
            </form>
        </div>

        <!-- Добавить Добавить Добавить Добавить Добавить Добавить -->
        <add-hardware *ngIf="showAddHardware===true"   (save_NewHardware)="saveNewHardware()" (btn_Del)="btnDel()"> </add-hardware>
        
      
    </div>
    <div class="mt-4  max-h-181 relative overflow-x-auto shadow-md ">
        <div class=" flex flex-row  text-xs  uppercase  bg-gray-700 text-gray-300 py-2">
            <div class="basis-1/12  ">
                <svg class="  mx-auto w-6 h-3  text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5.917 5.724 10.5 15 1.5" />
                </svg>
            </div>
            <p class="basis-1/12  text-center">id</p>
            <p class="basis-5/12  ml-0.5 ">Наименование</p>
            <p class="basis-1/12  text-center">Диам.(D) , мм</p>
            <p class="basis-1/12  ml-0.5 text-center ">L(X), мм</p>
            <p class="basis-1/12 text-center ">Материал</p>
            <p class="basis-1/12  text-center">Масса, кг</p>
            <p class="basis-1/12  text-center"></p>
        </div>
        <!--  Таблица --><!--  Таблица --><!--  Таблица --><!--  Таблица --><!--  Таблица --><!--  Таблица --><!--  Таблица -->
        <table id="tblHardware" class="w-full  text-sm text-left rtl:text-right  text-gray-300">
            <tbody id="tbodyUnits" >
                <tr class="border-b bg-gray-800 border-gray-700  hover:bg-gray-600" *ngFor="let hardware of hardwares">
                    <ng-template [ngTemplateOutlet]="loadTemplate(hardware)"
                        [ngTemplateOutletContext]="{ $implicit: hardware}">
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex justify-end  items-end mt-4">
        <p id="idclick" class="mr-4 text-2xl  text-white">Страница {{page}}</p>
        <button (click)="firstPage()"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight   border border-e-0  bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">Начало</button>
        <button (click)="previousPage()"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight   border border-e-0  bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
            </svg>
        </button>
        <button (click)="nextPage()"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight   border border-e-0  bg-gray-800 border-gray-700 text-gray-400 hover:bg-gray-700 hover:text-white">
            <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
        </button>

    </div>

</div>

<ng-template #readOnlyTemplate let-hardware>
    <td class="py-1 w-1/12">
        <div class="flex justify-center">
            <input id="checkbox-table-search-1" type="checkbox" (change)="tblNavigator?.boxChange($event)"
                class="w-4 h-4 text-blue-600   rounded  focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
        </div>
    </td>
    <td class=" py-1 w-1/12 text-center ">
        {{hardware.idhardware}}
    </td>
    <td class=" py-1 w-5/12">
        {{hardware.name_hardware}}
    </td>
    <td class=" py-1 w-1/12 text-center">
        {{hardware.d}}
    </td>
    <td class=" py-1 w-1/12 text-center">
        {{hardware.L}}
    </td>
    <td class=" py-1 w-1/12 text-center">
        {{hardware.steel}}
    </td>
    <td class=" py-1 w-1/12 text-center">
        {{hardware.weight}}
    </td>
    <td class=" py-1 w-1/12 text-center">
        <button href="#" class="font-medium  hover:text-red-500  text-blue-500 hover:underline"
            title="Изменение повлечет изменения везде, где эта позиция используется!"
            (click)="tableEditRow($event)">Изм</button>
    </td>
</ng-template>

<ng-template #editTemplate let-hardware>
    <td class="py-1 w-1/12">
        <div class="flex justify-center">
            <input id="checkbox-table-search-1" type="checkbox" (change)="tblNavigator?.boxChange($event)"
                class="w-4 h-4 text-blue-600   rounded  focus:ring-blue-600 ring-offset-gray-800 focus:ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
        </div>
    </td>
    <td class=" py-1 w-1/12 text-center ">
        {{hardware.idhardware}}
    </td>
    <td class=" py-1 w-5/12">
        <input class="border   block w-full  bg-gray-700 border-gray-600  text-white" type="text" autocomplete="off"
            [(ngModel)]="hardware.name_hardware" />
    </td>
    <td class=" py-1 w-1/12">
        <input class="border   block w-full  bg-gray-700 border-gray-600  text-white" type="text" autocomplete="off"
            [(ngModel)]="hardware.d" />
    </td>
    <td class=" py-1 w-1/12 text-center">
        <input class="border   block w-full  bg-gray-700 border-gray-600  text-white" type="text" autocomplete="off"
            [(ngModel)]="hardware.L" />
    </td>
    <td class=" py-1 w-1/12 text-center">
        {{hardware.steel}}
    </td>
    <td class=" py-1 w-1/12 text-center">
        <input class="border   block w-full  bg-gray-700 border-gray-600  text-white" type="text" autocomplete="off"
            [(ngModel)]="hardware.weight" />
    </td>
    <td class=" py-1 w-1/12 text-center">
        <button href="#" class="font-medium  text-blue-500 hover:underline"
            (click)="updateHardwares($event)">Сохранить</button>
    </td>
</ng-template>
